<style type="text/css">
	p {
		font-family: Quicksand;
	}
</style>
<div ng-controller="WorkLeadershipCtrl as ctrl" class="container-fluid" style="margin-top: 115px; padding-left: 200px; padding-right: 200px; padding-bottom: 45px;">
	<div class="row">
		<!-- <h1 class="display-4 animated fadeInUp">Building software is like a box of chocolates: <span style="color:grey;">you never know what you're gonna get.</span></h1> -->
		<!-- <h1 class="display-4 animated fadeInUp">{ 'num_projects' : <span style="color:grey;">12</span>, 'lines_of_code' : <span style="color:slategray;"><i>10K</i></span> }</h1> -->
		<h1 class="display-4 animated fadeInUp">Sharing what I learn, with others.</h1>
		<br>
		<h4 class="animated fadeInUp" style="color: darkgrey; margin-top: 20px; line-height: 28pt;">Getting along with your compiler is one thing.<br>But getting along with other people-that's something entirely different.<br>And that's something I love to do.</h4>
	</div>
	<div class="row" style="margin-top: 75px;" >
		<h3 class="display4 animated fadeInUp text-left" style="-webkit-animation-delay:1s;">
		Delivering a seminar on mobile app development at a university in my hometown, in India
		<br>
		<small class="text-muted" style="font-size: 75%;"><i>September 2016 (12th grade)</i></small>
		</h3>
		<p class='animated fadeInUp' style="margin-top:30px;-webkit-animation-delay:1s; color: darkgrey; font-size: 15pt;">
			Near the beginning of my 12th grade year, Periyar Maniammai University (PMU), located in my family's hometown, invited me as a speaker to deliver a seminar to their CSE, ECE, & IT college students on mobile application development.
			<br><br>
			In this seminar, I not only discussed the approach to designing, developing, & distributing a mobile app, but also examined the factors that have made apps like Facebook and WhatsApp as successful as they currently are. I cherish this particularly memorable event, since it allowed me to share one of my deepest passions with other like-minded people!
			<br><br>
			You can check out the slides <a href="https://prezi.com/l_fhboj7wtrh">here</a> and watch the seminar recording <a href="https://youtu.be/pr3XtfKSvRc">here</a>.
		</p>
	</div>
	<div class="row" style="margin-top: 90px;" >
		<h3 class="display4 animated fadeInUp text-left" style="-webkit-animation-delay:2s;">
		Hosting a 2-day, hands-on Android app development workshop
		<br>
		<small class="text-muted" style="font-size: 75%;"><i>November 2016 (12th grade)</i></small>
		</h3>
		<p class='animated fadeInUp' style="margin-top:30px;-webkit-animation-delay:2s; color: darkgrey; font-size: 15pt;">
			After receiving very positive feedback from their students on my initial seminar at PMU, the university re-invited me to host a 2-day, hands-on Android app workshop.
			<br><br>
			In these 2 days, I took the students through the various stages of creating an actual app, including design, development, & distribution. IEEE's India chapter sponsored this awesome event!
		</p>
	</div>
</div>