<style type="text/css">

p {
	color: grey; font-size: 16pt; font-family: Quicksand;
	margin-top: 25px;
}	

</style>
<div class="container" style="margin-top: 50px;">
	<div class="row">
		<h1 class="display-3 animated fadeInUp">Here's a bit about me.</h1>
	</div>
	<div class="row" style="margin-top: 10px;">
		<p class="animated fadeInUp" style="-webkit-animation-delay: 0.2s">I'm currently a CS Freshman @ UC San Diego (Go Tritons!).</p>
		<p class="animated fadeInUp" style="-webkit-animation-delay: 0.4s">I first learned how to code in 8th grade, after wanting to recreate Tony Stark's Jarvis A.I. from the Iron Man movies.</p>
		<p class="animated fadeInUp" style="-webkit-animation-delay: 0.6s">In the years since then, I've spent most of my free time surfing the web to continue learning interesting tech, like mobile app development, AWS, & A.I.</p>
		<p class="animated fadeInUp" style="-webkit-animation-delay: 0.8s">I personally like to keep things simple, indent my code, and run <span style="color:black; font-family: 'Source Code Pro';">git commit</span> every once in a while.</p>
		<p class="animated fadeInUp" style="-webkit-animation-delay: 1.0s">Apart from coding, I also love to binge read on Quora, cook my own food, and play basketball with my friends!</p>
	</div>
	<div class="row" style="margin-top: 25px;">
		<a class="btn btn-primary btn-lg animated fadeIn" href="#!/work" role="button" style="-webkit-animation-delay: 1.4s; font-family: Quicksand;">See my work</a>
		<a class="btn btn-info btn-lg animated fadeIn" href="#!/awards" role='button' style="-webkit-animation-delay:1.6s; font-family: Quicksand; margin-left: 10px;">Check out my awards</a>
	</div>
</div>