<style type="text/css">
p {
	color: black; font-size: 16pt; font-family: Quicksand;
	margin-top: 25px;
	}
</style>
<div class="container" style="margin-top: 125px;">
	<div class="row">
		<h1 class="display-3 animated fadeInUp">Awards.</h1>
	</div>
	<div class="row animated fadeInUp" style="margin-top: 15px; -webkit-animation-delay:0.8s">
		<h4 class="" style="color: grey;">I personally don't like to talk about myself a lot, so I'll keep this brief, eh?
		</h4>
	</div>
	<div class="row" style="margin-top: 70px;">
		<p class="animated fadeInUp" style="-webkit-animation-delay:1.4s;">I was featured on India's national news in the November of last year, for my work in technology and the seminars I gave at universities, as a high school senior.</p>
		<p class="animated fadeInUp" style="-webkit-animation-delay:1.6s;">You can check out the online version of the article, titled "The Future is Now," <a href="http://www.thehindu.com/life-and-style/The-future-is-now-.../article16093034.ece">here</a>.</p>
	</div>
</div>