<style type="text/css">

p {
	color: black; font-size: 16pt; font-family: Quicksand;
	margin-top: 25px;
}	

</style>
<div class="container" style="margin-top: 100px;">
	<div class="row">
		<h1 class="display-3 animated fadeInUp">My skills</h1>
	</div>
	<div class="row animated fadeIn" style="margin-top: 30px; -webkit-animation-delay:1s">
		<p style="-webkit-animation-delay:1.4s;"><b>Proficient:</b> Python, Java, JS (Node, Angular, etc.), HTML/CSS, MongoDB, A.I./Machine learning with Tensorflow & scikit-learn, AWS, Google Cloud, Android, REST APIs, Git</p>
		<p style="-webkit-animation-delay:1.8s;"><b>A little experience:</b> C#, PHP</p>
		<p style="-webkit-animation-delay:2.2s;"><b>What I don't know:</b> A lot. That's why I continue learn and explore new things every single day. ;)</p>
		<p style="color: grey; font-size: 14pt; margin-top: 50px; -webkit-animation-delay:3s;"><b><i>Pssst!</i></b> Although I enjoy working on backend Python code, I also don't mind tinkering with stuff on the front-end.<br><br>And in case you're wondering, I built this website using some AngularJS, Yeoman, and good ole' Twitter Bootstrap.</p>
	</div>
</div>